# Data cleaning and analysis

In [3]:
import os
import pandas as pd
from pprint import pprint

In [4]:
data_path = os.path.join("..", "assignment-sample-data.csv")
df = pd.read_csv(data_path)

In [9]:
from IPython.display import display
pd.set_option('display.width', 1000)

In [10]:
print(df.head())

        parking_id   area_type   parking_start_time     parking_end_time  parking_fee currency   parkinguser_id           car_id        lat        lon account_type
0  fake_c28a323810  SurfaceLot  2015-03-06 19:55:41  2015-03-06 20:07:00         8.50      SEK  fake_bf5d9b530e  fake_130ae2aeb1  59.246370  18.077019    corporate
1  fake_76c21cf355  SurfaceLot  2015-03-06 18:08:20  2015-03-06 19:46:00        15.67      SEK  fake_bf5d9b530e  fake_130ae2aeb1  59.231789  18.083995    corporate
2  fake_995ed971a6    OnStreet  2017-07-21 09:55:42  2017-07-21 14:23:50        67.00      SEK  fake_3ba346a0cd  fake_f7a9d564d9  59.350331  18.096649    corporate
3  fake_6b81ea4f35  SurfaceLot  2017-07-24 07:21:12  2017-07-24 07:34:31         4.34      SEK  fake_ea19a50003  fake_fae7e31b34  59.315826  18.098355    corporate
4  fake_424b61e0eb  SurfaceLot  2015-03-09 12:05:46  2015-03-09 13:57:54        50.50      SEK  fake_1cc1970582  fake_0755f3c71f  59.320919  18.047513    corporate

In [6]:
print(df.columns)

Index(['parking_id', 'area_type', 'parking_start_time', 'parking_end_time',
       'parking_fee', 'currency', 'parkinguser_id', 'car_id', 'lat', 'lon',
       'account_type'],
      dtype='object')

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   parking_id          87489 non-null  object
 1   area_type           87489 non-null  object
 2   parking_start_time  87489 non-null  object
 3   parking_end_time    87489 non-null  object
 4   parking_fee         87489 non-null  float64
 5   currency            87489 non-null  object
 6   parkinguser_id      87489 non-null  object
 7   car_id              87489 non-null  object
 8   lat                 87489 non-null  float64
 9   lon                 87489 non-null  float64
 10  account_type        87489 non-null  object
dtypes: float64(3), object(8)
memory usage: 7.3+ MB
None

In [8]:
print(df.describe())

        parking_fee           lat           lon
count  87489.000000  87489.000000  87489.000000
mean      31.786153     58.786174     17.035432
std       39.338515      2.925073      2.639340
min        0.000000   -180.006219   -180.006783
25%        9.000000     59.292461     17.137638
50%       18.750000     59.332389     18.000587
75%       39.100000     59.360741     18.066440
max      983.000000     67.871132     54.009971