# Aggregating over users

In [1]:
import os
import constants
import df_utils
import pandas as pd

In [2]:
# Load data into Pandas DataFrame
data_path = "assignment-sample-data-cleaned.csv"
df = pd.read_csv(data_path)

In [3]:
from IPython.display import display
pd.set_option('display.width', 1000)

In [4]:
df.head()

    parkinguser_id   area_type  parking_fee_sek  parking_duration  weekday  registered_cars  n_parkings  parking_activity account_type
0  fake_c6a7eb1142    OnStreet            49.50          2.791944        1                2         339          0.304036    corporate
1  fake_6e03a1bfc8    OnStreet            61.30          2.045556        1                3          80          0.037488      private
2  fake_f6adf105e7    OnStreet            20.58         19.126111        1                1         159          0.249216    corporate
3  fake_d317e5c7a5  SurfaceLot             2.00          0.243611        1                6        1965          1.234296    corporate
4  fake_bdbd8ad11c    OnStreet            60.00         20.342500        0                9        2061          0.836105    corporate

## Aggregate over user

In [ ]:
### Aggregate over parkinguser_id

## Save processed data

In [5]:
save_df = False
if save_df:
    path = "aggregated-user-data.csv"
    df.to_csv(path, index=False)